@import '../node_modules//bootstrap/dist/css/bootstrap.min.css';

.nav{
  background-color: black;
  position: fixed;
  top: 0;
  border: 5px solid red;
  width: 100vw;
}

.ecommerce{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: red;
}
.cursor{
  cursor: pointer;
}
.link a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 12px;
}
.link a:hover{
  color: red;
  border-bottom: 4px red solid;
}
.product-card{
  /* position: relative; */

}
.product-card img{
  /* position: absolute; */
  height:200px;
  width: 280px;
  display: inline-block;
}
.container{
  position: sticky;
  top: 0;
  left: 0;
}